.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  padding: 1.0rem;
  color: #0984e3;
  font-size: 2.7rem;
  font-weight: 400;
  height: 195px;
}

.container.active {
  border: 1px solid #0984e3;
  border-radius: 10px;
  background-color: #0984e3;
  font-weight: 500;
  color: #fff;
}

.nextPrayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  padding: 1.0rem;
  color: #273c75;
  font-size: 2.7rem;
  font-weight: 500;
  height: 195px;
}

.time {
  font-size: 4.5rem;
  font-weight: 500;
}
