.footer {
  width: 1140px;
  max-width: 95%;
  background-color: #222323;
  color: #ffffff;
  padding: 1rem 2rem;
}

.container {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.copyright {
  margin: 0;
  font-size: 0.9rem;
  margin-right: 1rem; /* Added margin to separate copyright from button */
  padding-top: 3px;
  text-align: left;
  color: grey;
}

.credits {
  margin: 0;
  font-size: 0.9rem;
  padding-top: 3px;
  text-align: left;
  color: grey;
}

.version {
  margin: 0;
  font-size: 0.9rem;
  margin-right: 1rem; /* Added margin to separate copyright from button */
  padding-top: 3px;
  text-align: left;
  color: grey;
}

.footerLink {
  color: silver; /* Standard link color */
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  display: inline; /* Makes the button behave like inline text */
}

.footerLink:hover {
  text-decoration: none;
}

.footerLink:focus {
  outline: none;
}