.hadithContainer {
  max-width: 1150px;
  margin-top: 15px;
  background-color: #222323;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hadithTitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  color: goldenrod;
}

.hadithText {
  color: whitesmoke;
  font-size: 2.1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: left;
}

.bookName {
  font-size: 1.1rem;
  font-style: italic;
  text-align: right;
  color: #666;
}

.arrowContainer {
  display: flex;
  flex-direction: row;
}

.arrowFwd {
  font-size: 2.5rem;
  color: #666;
}

.arrowBck {
  font-size: 2.5rem;
  color: #666;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  background-color: transparent;
  border: none;
}

.closeIconButton {
  font-size: 2.5rem;
  color: #666;
}