.hadithContainer {
  margin-top: 15px;
  background-color: #222323;
}

.hadithTitle {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: goldenrod;
}

.hadithText {
  color: whitesmoke;
  font-size: 2.1rem;
  margin-bottom: 10px;
  text-align: left;
}

.bookName {
  font-size: 1.1rem;
  font-style: italic;
  text-align: right;
  color: #666;
}

.arrowContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.arrowFwd {
  font-size: 2.5rem;
  color: #666;
  margin: 0;
  padding: 0;
}

.arrowBck {
  font-size: 2.5rem;
  color: #666;
  margin: 0;
  padding: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.closeIconButton {
  font-size: 2.5rem;
  color: #666;
  margin: 0;
  padding: 0;
}