.prayerTimeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.prayerName {
  display: flex;
  margin-right: 20px;
}

.letterBox {
  font-weight: bold;
  font-size: 3.5rem;
  font-family: monospace;
  color: #fff;
  background-color: #333;
  width: 60px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin: 0 4px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.letterBox::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
}

.current .letterBox {
  color: goldenrod !important;
}

.currentlyPassed .letterBox {
  color: goldenrod !important;
  opacity: 0.5 !important;
}


.next .letterBox {
  color: goldenrod!important;
}

.past .letterBox {
  opacity: 0.5 !important;
}

.nextPrayerLabel {
  font-size: 2.9rem;
  color: goldenrod;
  text-align: left;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  padding-top: 7px;
}