.settingsDisplay {
  width: 1140px;
  max-width: 100%; /* Add this line */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.envVariables {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  background-color: white;
  color: black;
  border-radius: 0.3rem;
}

.envVariable {
  display: flex;
  margin-bottom: 0.5rem;
}

.envKey {
  font-family: monospace;
}

.envValue {
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: right;
  margin-bottom: 0.5rem;
}

.iconButton {
  background-color: transparent;
  border: none;
}

.closeIconButton {
  font-size: 2.5rem;
  color: #666;
}