.clock {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  color: #0097e6;
  // font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}

.date {
  font-size: 2.1rem;
  font-weight: 300;
}

.time {
  font-size: 5.7rem;
  font-weight: 400;
}
