.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.name {
  font-size: 4.3rem;
  font-weight: 700;
}

.inactiveName {
  font-size: 4.3rem;
  font-weight: 700;
  color: silver;
}

.activeName {
  font-size: 4.3rem;
  font-weight: 700;
  color: grey;
}

.nextName {
  font-size: 4.3rem;
  font-weight: 700;
}

.time {
  font-size: 4.3rem;
  font-weight: 700;
}

.inactiveTime {
  font-size: 4.3rem;
  font-weight: 700;
  color: silver;
}

.activeTime {
  font-size: 4.3rem;
  font-weight: 700;
  color: grey;
}

.nextTime {
  font-size: 4.3rem;
  font-weight: 700;
}