.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
}

@media screen and (min-width: 2560px) and (max-width: 3840px) {

}
