.App {
  text-align: center;
  background-color: #222323;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 1140px;
  max-width: 95%; /* Add this line */
  margin: 0 auto; /* Add this line */
}

.countdown {
  font-size: 2.0rem; /* Increased from 1.1rem to 2.5rem */
  color: gold;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: 1.5rem;
}

.countdownLetterBox {
  font-weight: bold;
  font-size: 3.0rem;
  font-family: monospace;
  color: white;
  background-color: #353535;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 0 1px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.countdownLetterBox::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
