.App {
  text-align: center;
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  width: 100%;
  max-width: 100vw; /* Use viewport width */
  height: 96.45vh; /* Use viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
}

.headerImage {
  width: 115px;
  height: 115px;
  object-fit: contain;
}

.dateTimeDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.7rem;
  margin-bottom: 1.0rem; /* Slightly increased margin */
}

.date, .time {
  margin-bottom: 0.0rem; /* Slightly reduced margin */
  margin-left: 0.5rem;
}

.location {
  margin-bottom: 0.0rem; /* Slightly reduced margin */
  margin-left: 1.5rem;
}

.prayerTimes {
  display: flex;
  flex-direction: column;
  height: 80vh; /* Adjust as needed */
}

.prayerTime {
  display: flex;
  flex-direction: column;
  padding: 0.9rem 1.3rem; /* Slightly reduced padding */
  margin: 0.5rem 0;
  border-radius: 5px;
}

.prayerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prayerName {
  font-size: 3.1rem; /* Changed from 3.5rem to 3.1rem */
  color: #4CAF50; /* Default color for upcoming prayers (green) */
}

.prayerTimeValue {
  font-size: 3.1rem; /* Changed from 3.5rem to 3.1rem */
  font-weight: bold;
  color: #4CAF50; /* Default color for upcoming prayers (green) */
}

.currentPrayer .prayerName,
.currentPrayer .prayerTimeValue {
  color: gold; /* Gold color for the current prayer */
}

.pastPrayer .prayerName,
.pastPrayer .prayerTimeValue {
  color: #808080; /* Grey color for past prayers */
}

.countdown {
  font-size: 2.5rem; /* Increased from 1.1rem to 2.5rem */
  color: gold;
  margin-top: 0.8rem; /* Increased to give more space between prayer time and countdown */
  text-align: right;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
