.App {
  background-color: rgb(19, 19, 19);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 2.7rem;
}

.contents {
  flex-grow: 1;
  margin-top: 3rem;
  min-height: 820px;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .App {
    background-color: rgb(19, 19, 19);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
  }
  .contents {
    flex-grow: 1;
    margin-top: 2.1rem;
    min-height: 215px;
  }
}

@media screen and (min-width: 2560px) {
  .App {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    padding: 0rem;
  }
  .contents {
    flex-grow: 1;
    margin-top: 2.1rem;
    min-height: 215px;
  }
}