.container {
  width: 1140px;
}

.headerTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.headerTitle {
  color: black;
  font-size: 3.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: goldenrod;
  border-radius: 5px;
  padding: 8px 25px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  margin-bottom: 1rem;
}

.locationText {
  color: silver;
  font-size: 1.5rem;
}

.locationDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(119, 118, 118);
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.prayerTimeContainer {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.prayerName {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.letterBox {
  font-weight: bold;
  font-size: 1.9rem;
  font-family: monospace;
  color: #fff;
  background-color: #333;
  width: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 0 1px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.letterBox::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
}

.label {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: goldenrod;
  font-size: 1.7rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: black;
  border-radius: 5px;
  padding: 3px 15px;
}

.bookIcon {
  color: rgb(119, 118, 118);
  font-size: 2rem;
  margin-right: 10px;
}

.activeBookIcon {
  color: goldenrod;
}

.icon {
  font-size: 2.7rem;
}

.icon2 {
  font-size: 2.1rem;
}

