.container {
  width: 100%;
}

.headerTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  color: black;
  font-size: 2.7rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  background-color: goldenrod;
  border-radius: 5px;
  height: 67px;
  padding: 0 1rem;
}

.prayerTimeContainer {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}

.prayerName {
  display: flex;
}

.blankBox {
  display: flex;
}

.yellowLetterBox {
  font-weight: bold;
  font-size: 1.9rem;
  font-family: monospace;
  color: goldenrod;
  background-color: #333;
  width: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  margin-right: 4px;
}

.yellowLetterBox::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
}

.locationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(119, 118, 118);
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.location{
  width: 100%;
  color: silver;
  font-size: 1.5rem;
}

.dateContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.gregorianDate {
  color: silver;
  font-weight: 500;
}

.hijriDateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-left: 1rem;
}

.hijriDate {
  font-family: "Oswald", sans-serif;
  color:gold;
  font-size: 2.7rem;
  font-weight: 600;
}

.letterBox {
  font-weight: bold;
  font-size: 1.9rem;
  font-family: monospace;
  color: #fff;
  background-color: #333;
  width: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  margin-right: 4px;
}

.letterBox::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
}

.label {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: goldenrod;
  font-size: 1.7rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: black;
  border-radius: 5px;
}

.activeHadithButton {
  background-color: goldenrod !important;
  color: black !important;
  font-weight: 600 !important;
}

.hadithButton {
  font-family: "Oswald", sans-serif;
  background-color: #222323;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hadithButton:hover {
  background-color: #444444;
}

.settingsButton {
  font-family: "Oswald", sans-serif;
  background-color: #222323;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settingsButton:hover {
  background-color: #444444;
}

.testButton {
  background-color: #222323;
  color: #ffffff;
  border: none;
  cursor: pointer;
  height: 17px;
  font-size: 12px;
}


.demoButton {
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 17px;
  font-size: 12px;
}

.demoButtonActive {
  color: red;
  font-weight: bold;
}